# Naive Bayes And NLP

Bayes Theorem is a probability formula that leverages previously known probabilities to define probability of related events
occuring

### Bag of Words

In [8]:
with open('one.txt') as mytext:
    #a = mytext.read()
    b = mytext.readline()

In [2]:
print(a)

This is a story about dogs
our canine pets
Dogs are furry animals

In [5]:
print(a.lower().split())

['this', 'is', 'a', 'story', 'about', 'dogs', 'our', 'canine', 'pets', 'dogs', 'are', 'furry', 'animals']

In [9]:
print(b)

This is a story about dogs

In [10]:
with open('two.txt') as mytext:
    a = mytext.read()

In [11]:
print(a)

This story is about surfing
Catching waves is fun
Surfing is a popular water sport

### Lets Build vocabulary

vocabulary is built by getting all unique words throughout the two documents

#### list of words in one.txt

In [13]:
with open('one.txt') as mytext:
    words_one = mytext.read().lower().split()
    uniq_words_one = set(words_one) # unique words , also removes duplicate words.

In [14]:
print(uniq_words_one)

{'a', 'our', 'story', 'animals', 'pets', 'this', 'is', 'furry', 'dogs', 'about', 'canine', 'are'}

### list of words in two.text

In [15]:
with open('two.txt') as mytext:
    words_two = mytext.read().lower().split()
    uniq_words_two = set(words_two)

In [16]:
print(uniq_words_two)

{'fun', 'a', 'story', 'catching', 'this', 'is', 'waves', 'popular', 'sport', 'about', 'surfing', 'water'}

now we have unique words for document 1 and 2 now we need all the unique words across all the document

### Combine the unique words into one list

In [20]:
#start by creating an empty list to store the two list of unique features from both document
all_uniq_words = set()

In [21]:
#update the all_uniq_words list using update function.
all_uniq_words.update(uniq_words_one)
all_uniq_words.update(uniq_words_two)

### Assigh a number in each word

In [23]:
#lets create an empty list
full_vocab = dict()
i = 0

In [24]:
for word in all_uniq_words:
    full_vocab[word] = i
    i = i + 1

In [26]:
print(full_vocab)

{'our': 0, 'story': 1, 'animals': 2, 'waves': 3, 'popular': 4, 'surfing': 5, 'water': 6, 'are': 7, 'fun': 8, 'a': 9, 'pets': 10, 'this': 11, 'is': 12, 'furry': 13, 'dogs': 14, 'catching': 15, 'sport': 16, 'about': 17, 'canine': 18}

## Create 3 list

In [27]:
one_freq = [0] * len(full_vocab)
two_freq = [0] * len(full_vocab)
all_words = [" "] * len(full_vocab)

In [28]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [29]:
two_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [30]:
with open('one.txt') as f:
    one_text = f.read().lower().split()

In [31]:
one_text

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [32]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

In [33]:
one_freq

[1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 2, 0, 0, 1, 1]

In [34]:
with open ('two.txt') as f:
    two_text = f.read().lower().split()

In [35]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq [word_ind] +=1

In [36]:
two_freq

[0, 1, 0, 1, 1, 2, 1, 0, 1, 1, 0, 1, 3, 0, 0, 1, 1, 1, 0]

### Create a list that contains all the words

In [37]:
all_words

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ']

In [38]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [39]:
all_words

['our',
 'story',
 'animals',
 'waves',
 'popular',
 'surfing',
 'water',
 'are',
 'fun',
 'a',
 'pets',
 'this',
 'is',
 'furry',
 'dogs',
 'catching',
 'sport',
 'about',
 'canine']

### Build DataFrame

In [40]:
import pandas as pd

In [41]:
bow = pd.DataFrame(data = [one_freq, two_freq], columns = all_words)

In [42]:
bow

,our,story,animals,waves,popular,surfing,water,are,fun,a,pets,this,is,furry,dogs,catching,sport,about,canine
0,1,1,1,0,0,0,0,1,0,1,1,1,1,1,2,0,0,1,1
1,0,1,0,1,1,2,1,0,1,1,0,1,3,0,0,1,1,1,0